<app-header title="Sesión de Alumno"></app-header>

<ion-content>

  <div class="d-flex-center">

    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">

      <app-logo></app-logo>

      <div style="margin-top: 60px;"></div>

      <p class="ion-text-center">Para registar tu asistencia escanea el codigo QR</p>

      <div style="margin-top: 40px;"></div>

      <ion-button (click)="scan()" mode="ios" class="submit" type="submit" color="secondary">
        ESCANEAR
        <ion-icon slot="end" name="qr-code-outline"></ion-icon>
      </ion-button>

    </form>

  </div>

  <div class="ion-text-center">
    <div style="margin-top: 80px;"></div>
    <ion-button (click)="signOut()"  class="ion-margin">
      Cerrar Sesión
      <ion-icon slot="start" name="person"></ion-icon>
    </ion-button>
  </div>


</ion-content>