.custom-input-box {
    border-radius: 14px;
    border: 1px solid #ccc;
    padding: 0%;
    height: 50px; // Ajusta la altura según tus preferencias
    text-align: start;
    display: flex;
    align-items: center; // Centra verticalmente el texto
    width: auto !important;
}

.custom-select {
    width: 100%;
}



