<!-- En tu profile.page.html -->
<app-header [title]="'Sesión de Profesor'"></app-header>

<ion-content>

  <div class="d-flex-center">

    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">

      <app-logo></app-logo>

      <p class="ion-text-center">Selecciona una materia y genera tu codigo QR para que tus alumnos se registren</p>


      <ion-item class="custom-input-box" [class.invalid]="form.controls.materia.invalid && form.controls.materia.touched">
        <ion-label>Materia</ion-label>
        <ion-select formControlName="materia" class="custom-select" placeholder="Seleccione una materia" (ionChange)="onMateriaChange()">
          <ion-select-option value="Lenguaje">Lenguaje</ion-select-option>
          <ion-select-option value="Matematica">Matemáticas</ion-select-option>
          <ion-select-option value="Historia">Historia</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Botón para mostrar la imagen prediseñada del código QR -->
      <ion-button (click)="showPredefinedQRCode()" class="ion-margin">
        Mostrar QR Asociado
      </ion-button>

      <!-- Botón para ver el registro de asistencia (deshabilitado si no hay imagen) -->
      <ion-button class="ver-asistencia" (click)="verRegistroAsistencia()" [disabled]="!predefinedQrCodeData">
        Ver Registro de Asistencia
      </ion-button>

      <!-- Imagen prediseñada del código QR -->
      <div *ngIf="predefinedQrCodeData">
        <img [src]="predefinedQrCodeData" alt="Código QR Prediseñado">
      </div>


      

      <!-- Botón para cerrar la sesión del profesor -->
      <ion-button (click)="signOut()" class="ion-margin">
        Cerrar Sesión
        <ion-icon slot="start" name="person"></ion-icon>
      </ion-button>

    </form>
  </div>
</ion-content>
